<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>hue api javascript library</title>
        <link rel="stylesheet" href="main.css" type="text/css" />
    </head>
    <body>
        <div id="page">

            <div id="bridgelist" class="no-bridges-connected">
                <h1>Available Bridges</h1>
                <iframe src="http://www.meethue.com/api/nupnp"></iframe>
                <form id="hue-connect">
                    <label>Enter bridge IP: <input type="text" name="ip" /> </label>
                    <button type="submit">connect</button>
                </form>
            </div>
            
            <div id="app">
                <ul id="bridges"></ul>
            </div>

        </div>
        
        <script type="text/template" id="bridge-template">
            <div class="bridge">
                <h1><%- data.config.name %></h1>
                <h2><%- data.config.ipaddress %> <button type="button" class="disconnect">disconnect</button></h2>
                <p><button type="button" class="all-on">all on</button> <button type="button" class="all-off">all off</button></p>
                <ul class="lights">
                <% _.each(data.lights, function(light, id) { %>
                    <li class="light" data-id="<%- id %>">
                        <div>
                            <%- light.name %>
                            <button type="button" class="toggleOnOff"><%- light.state.on %></button>
                            <input class="color" type="color" />
                            <div class="hue-bri-sat">
                                <label>Hue: <input class="hue" type="range" min="0" max="65535" value="<%- light.state.hue %>" /></label>
                                <label>Brightness: <input class="bri" type="range" min="0" max="255" value="<%- light.state.bri %>" /></label>
                                <label>Saturation: <input class="sat" type="range" min="0" max="255" value="<%- light.state.sat %>" /></label>
                            </div>
                        </div>
                    </li>
                <% }); %>
                </ul>
            </div>
        </script>
                        
        <script data-main="main.js" src="../js/lib/require.js"></script>
    </body>
</html>