#bridgelist {
    display: none;
}
#bridgelist.no-bridges-connected {
    display: block;
}

ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

input[type=range] {
    display: block;
    width: 100%;
}

.light {
    margin-bottom: 2em;
}